*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

input,
button,
textarea,
select {
  font: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: "Space Mono", monospace;
  background-color: #c5e4e7;
  display: grid;
  justify-content: center;
  align-items: end;
  grid-template-rows: 1fr auto;
  min-height: 100vh; }
  @media (min-width: 700px) {
    body {
      align-items: center; } }

.content {
  max-width: 500px;
  width: 100%; }
  @media (min-width: 1140px) {
    .content {
      max-width: 700px; } }

.content {
  width: 100%; }
  .content__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 7rem; }
    @media (min-width: 700px) {
      .content__logo {
        margin-top: 0; } }
  .content__main-box {
    padding: 3rem;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 2rem 0 0; }
    @media (min-width: 700px) {
      .content__main-box {
        border-radius: 2rem; } }
    @media (min-width: 1140px) {
      .content__main-box {
        grid-template-columns: 1fr 1fr;
        justify-items: flex-start;
        grid-gap: 3rem;
        padding: 2rem 2rem 2rem 3.5rem; } }
  .content__input-box {
    width: 100%; }
    @media (min-width: 1140px) {
      .content__input-box > * {
        margin-bottom: 3rem; } }
  .content__input-title {
    color: #5e7a7d;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem; }
  .content__form {
    display: flex;
    flex-direction: column;
    position: relative; }
    .content__form::before {
      content: "";
      position: absolute;
      top: 4.5rem;
      left: 1.5rem; }
      @media (min-width: 1140px) {
        .content__form::before {
          top: 3.7rem; } }
  .content__dollar::before {
    content: url("/images/icon-dollar.svg"); }
  .content__human::before {
    content: url("/images/icon-person.svg"); }
  @media (min-width: 1140px) {
    .content__human {
      margin-bottom: 0; } }
  .content__input {
    color: #00494d;
    background-color: #f4fafa;
    width: 100%;
    border: none;
    padding: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-align: right;
    caret-color: #26c0ab; }
    .content__input:focus-within {
      outline: 0.1rem solid #26c0ab; }
    @media (min-width: 1140px) {
      .content__input {
        margin-bottom: unset;
        font-size: 1.8rem;
        padding: 0.5rem 1.5rem; } }
  .content__input-buttons {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 3rem; }
    @media (min-width: 1140px) {
      .content__input-buttons {
        grid-template-rows: repeat(2, 3.5rem);
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 0; } }
  .content__input-button {
    color: white;
    background-color: #00494d;
    border: none;
    border-radius: 0.5rem;
    font-weight: 700;
    padding: 1rem;
    font-size: 2rem;
    transition: all 0.2s; }
    .content__input-button:hover {
      color: #00494d;
      background-color: rgba(38, 192, 171, 0.5);
      cursor: pointer; }
    .content__input-button:focus-within {
      outline: 0.2rem solid #26c0ab; }
    @media (min-width: 1140px) {
      .content__input-button {
        font-size: 1.8rem;
        padding: 0; } }
  .content__input-button-active {
    background-color: #26c0ab;
    color: #00494d; }
  .content__input-custom {
    color: #5e7a7d;
    background-color: #f4fafa;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    caret-color: #26c0ab; }
    @media (min-width: 1140px) {
      .content__input-custom {
        height: 100%; } }
    .content__input-custom:focus-within {
      outline: 0.1rem solid #26c0ab; }
  .content__output-boxes {
    background-color: #00494d;
    border-radius: 1rem;
    padding: 4rem 2rem 2rem 2rem; }
    @media (min-width: 1140px) {
      .content__output-boxes {
        width: 100%;
        padding: 3rem; } }
  .content__output-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem; }
    @media (min-width: 1140px) {
      .content__output-box {
        align-items: center; } }
  .content__output-title {
    color: white;
    font-size: 1.2rem; }
  .content__output-subtitle {
    color: #7f9c9f;
    font-size: 1rem; }
  .content__output-sum {
    color: #26c0ab;
    font-size: 2.5rem;
    font-weight: 700; }
    @media (min-width: 1140px) {
      .content__output-sum {
        font-size: 3.5rem; } }
  .content__output-reset {
    color: #00494d;
    background-color: #26c0ab;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.2s; }
    .content__output-reset:hover {
      color: #00494d;
      background-color: #a1e8e0;
      cursor: pointer; }
    .content__output-reset:focus-within {
      outline: 0.2rem solid #26c0ab; }
    @media (min-width: 1140px) {
      .content__output-reset {
        margin-top: 7rem;
        padding: 0.6rem; } }

.attribution {
  width: 100%;
  font-size: clamp(1rem, 2vw, 1.2rem);
  text-align: center;
  margin: 0 auto;
  background-color: white; }
  @media (min-width: 700px) {
    .attribution {
      background-color: unset; } }
  .attribution__link:link, .attribution__link:visited {
    text-transform: uppercase;
    color: #26c0ab;
    transition: all 0.2s; }
  .attribution__link:hover, .attribution__link:active {
    color: #00494d; }
