.content {
  width: 100%;
  &__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 7rem;
    @media (min-width: 700px) {
      margin-top: 0;
    }
    @media (min-width: 1140px) {
      width: 8.5rem;
      margin-bottom: 9rem;
    }
  }

  &__main-box {
    padding: 3rem;
    background-color: $color--white;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 2rem 0 0;

    @media (min-width: 700px) {
      border-radius: 3rem;
    }
    @media (min-width: 1140px) {
      grid-template-columns: 44% 1fr;
      justify-items: flex-start;
      grid-gap: 5rem;
      padding: 3.5rem 3.5rem 3.5rem 5rem;
    }
  }
  &__input-box {
    width: 100%;
    @media (min-width: 1140px) {
      & > * {
        margin-bottom: 3rem;
      }
    }
  }

  &__input-title {
    color: $color--darkCyanOne;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    @media (min-width: 1140px) {
      font-size: 1.5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 4.5rem;
      left: 1.5rem;

      @media (min-width: 1140px) {
        top: 4.7rem;
      }
    }
  }

  &__error-message {
    display: flex;
    justify-content: space-between;
  }

  &__error {
    color: $color--error;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    @media (min-width: 1140px) {
      font-size: 1.6rem;
    }
  }

  &__dollar {
    &::before {
      content: url("/images/icon-dollar.svg");
    }
  }

  &__human {
    &::before {
      content: url("/images/icon-person.svg");
    }
    @media (min-width: 1140px) {
      margin-bottom: 0;
    }
  }

  &__input {
    color: $color--veryDarkCyan;
    background-color: $color--lightCyanTwo;
    width: 100%;
    border: none;
    padding: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-align: right;
    caret-color: $color--cyan;

    &:focus-visible {
      outline: 0.2rem solid $color--cyan;
    }

    @media (min-width: 1140px) {
      margin-bottom: unset;
      font-size: 2.5rem;
      padding: 0.5rem 1.5rem;
    }

    &--custom {
      width: 100%;
      margin-bottom: 0;

      @media (min-width: 1140px) {
        height: 100%;
        font-size: 2rem;
        padding: 0.3rem 1.8rem 0.3rem 0.3rem;
      }

      &:focus-visible {
        outline: 0.2rem solid $color--cyan;
      }
    }

    &--error {
      color: $color--error;
      caret-color: $color--error;
      &:focus-visible {
        outline: 0.2rem solid $color--error;
      }
    }
  }

  &__input-buttons {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 3rem;
    @media (min-width: 1140px) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
      margin: 2rem 0 4rem 0;
    }
  }

  &__input-button {
    color: $color--lightCyanOne;
    background-color: $color--veryDarkCyan;
    border: none;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
    transition: all 0.2s;
    &:hover {
      color: $color--veryDarkCyan;
      background-color: rgba(38, 192, 171, 0.5);
      cursor: pointer;
    }

    &:focus-visible {
      outline: 0.2rem solid $color--cyan;
    }

    @media (min-width: 1140px) {
      font-size: 2.5rem;
      padding: 0.3rem;
    }
  }

  &__input-button-active {
    background-color: $color--cyan;
    color: $color--veryDarkCyan;
  }

  &__output-boxes {
    background-color: $color--veryDarkCyan;
    border-radius: 1.5rem;
    padding: 4rem 2rem 2rem 2rem;
    @media (min-width: 1140px) {
      width: 100%;
      padding: 4.5rem 4.5rem 3.5rem 4.5rem;
    }
  }
  &__output-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    @media (min-width: 1140px) {
      align-items: center;
      margin-bottom: 3rem;
    }
  }
  &__output-text {
    flex-shrink: 0;
  }

  &__output-title {
    color: $color--lightCyanOne;
    font-size: 1.2rem;
    font-weight: 700;
    @media (min-width: 1140px) {
      font-size: 1.5rem;
    }
  }

  &__output-subtitle {
    color: $color--darkCyanTwo;
    font-size: 1rem;
    font-weight: 700;
    @media (min-width: 1140px) {
      font-size: 1.3rem;
    }
  }

  &__output-sum {
    color: $color--cyan;
    font-size: 2.5rem;
    font-weight: 700;
    @media (min-width: 1140px) {
      font-size: 4.5rem;
    }
  }

  &__output-reset {
    color: $color--veryDarkCyan;
    background-color: $color--cyan;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.2s;
    &:hover:enabled {
      color: $color--veryDarkCyan;
      background-color: hsl(173, 61%, 77%);
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.3;
    }
    &:focus-visible {
      outline: 0.2rem solid $color--lightCyanOne;
    }

    @media (min-width: 1140px) {
      margin-top: 9rem;
      padding: 1rem;
      font-size: 2rem;
    }
  }
}

.attribution {
  width: 100%;
  font-size: clamp(1rem, 2vw, 1.2rem);
  text-align: center;
  margin: 0 auto;
  background-color: $color--white;
  @media (min-width: 700px) {
    background-color: unset;
  }

  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    color: $color--cyan;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    color: $color--veryDarkCyan;
  }
}
